<h1>
  {{this.model.name}}
</h1>

<p>
  {{this.model.body}}
</p>

{{#if this.comments}}
  <ul>
    {{#each this.comments as |comment|}}
      <li>
        {{comment.body}}
      </li>
    {{/each}}
  </ul>
{{else if this.loadComments.isRunning}}
  <p>
    Loading comments...
  </p>
{{else}}
  <button type="button" {{on "click" (perform this.loadComments)}}>
    Load Comments
  </button>
{{/if}}